.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-card {
  width: 40%;
  background-color: #f9f9f9;
  border: 2px solid #f2f2f2;
  padding: 10px 20px 10px 20px;
  min-height: 200px;
  border-radius: 10px;
  margin-top: 30px;
}

.profile-card h2 {
  text-align: center;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  border: none;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 10px 10px 10px 13px;
}