.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-card {
  width: 50%;
  background-color: #f9f9f9;
  border: 2px solid #f2f2f2;
  padding: 10px 20px 10px 20px;
  min-height: 200px;
  border-radius: 10px;
}

.profile-card h2 {
  text-align: center;
}
