.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-container {
  text-align: center;
  background-color: #f9f9fb;
  width: 30%;
  padding: 20px 30px;
  margin-top: 5px;
  border-radius: 10px;
}

.search-container input {
  border: none;
  border: 1px solid #d8dade;
  border-radius: 5px;
  padding: 12px 10px;
  width: 95%;
}

.search-container input:focus {
  outline: none;
  border: 1px solid rgb(131, 131, 131);
}

.item-conteiner {
  border: none;
  border: 1px solid #d8dade;
  border-radius: 5px;
  background-color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0px 0px 0px 10px;
  cursor: default;
}

.item {
  width: 100%;
  text-align: left;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
