.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-container {
  width: 33%;
  text-align: center;
}

.cell-element {
  height: 120px;
  width: 120px;
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(136, 136, 136);
  cursor: pointer;
  transition: 0.2s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.cell-element:hover {
  background-color: rgb(226, 226, 226);
}

.cell-elements {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;

  width: 100%;
}

.reset-btn {
  margin-top: 20px;
  padding: 15px 25px;
  border: none;
  background-color: rgb(47, 47, 251);
  border-radius: 5px;
  color: white;
  transition: 0.25s ease;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: rgb(40, 40, 227);
}

.game-status-messages {
  margin-bottom: -20px;
  font-weight: 700;
  font-size: 17px;
}

.win-message {
  color: rgb(72, 180, 72);
}

.draw-message {
  color: rgb(232, 232, 46);
}
