.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.counter-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-buttons{
    display: flex;
    gap: 10px;
}

.counter-buttons button{
    padding: 10px 20px;
}