.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todo-conatiner {
  background-color: #f9f9f9;
  padding: 10px 30px;
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 35%;
}

.todo-conatiner input {
  border: none;
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 5px;
}

.add-btn {
  width: 100px;
  height: 35px;
  padding: 5px;
  background-color: #4169a4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #31548a;
  transition: 0.2s ease;
}

.task-item {
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 10px;
}

.task-item p {
  width: 60%;
  text-align: start;
}

.delete-btn {
  padding: 5px 15px;
  border: none;
  background-color: #f34335;
  color: white;
  border: 1px solid #cb1d10;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #cf2f23;
  transition: 0.2s ease;
}

.warning-message{
    text-align: left;
    margin-top: -8px;
    margin-bottom: -5px;
    margin-left: 3px;
    font-size: 15px;
    color: red;
    font-weight: 700;
}
