.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-container{
    text-align: center;
}

.guess-input-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input{
    width: 100%;
    padding: 10px;
}

button{
    border: none;
    background-color: #4cad4e;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition  : 0.25s ease;
}

button:hover{
    background-color: #3b943c;
}